# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (do not commit raw/interim/processed files)
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

# macOS & VS Code
.DS_Store
.vscode/
